<div class="row">
    {#
         time can be any string acceptable by http://www.php.net/strtotime, the
         template will output that time's month.
         If you don't want to pass in a date you can set time like this:
         {% set time = "now"|date("U") %}
         {% set time = "December 2012"|date("U") %}
         How ever you want to output items onto the calendar is a different issue,
         but I'd assume pushing everything into an array numerically indexed by that day:
         $days = array(1=>array('Something on the first'),31=>array('Halloween'));
    #}

    <div class="col-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="7" class="text-center">
                        {{ time|date('F') }}
                    </th>
                </tr>
                <tr>
                    <th class="text-center">Sun</th>
                    <th class="text-center">Mon</th>
                    <th class="text-center">Tue</th>
                    <th class="text-center">Wed</th>
                    <th class="text-center">Thu</th>
                    <th class="text-center">Fri</th>
                    <th class="text-center">Sat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% set daysInMonth = time|date('t') %}
                    {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
                    {% set dow = startDow %}
                    {% for day in range(1,daysInMonth) %}
                    {% if loop.first and startDow != 0 %}
                        <td colspan="{{ startDow }}"></td>
                    {% endif %}
                    <td>
                        <div>
                            <div><span class="font-weight-bold">{{ day }}</span></div>
                            <div class="day">
                                {% if gamesInMonth[day] is defined %}
                                    {% include "schedule/calendar_day.html.twig" %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    {% if loop.last and dow != 6 %}
                        <td colspan="{{ 6 - dow }}">&nbsp;</td>
                    {% endif %}
                    {% if dow == 6 %}
                    {% set dow = 0 %}
                </tr>
                <tr>
                    {% else %}
                        {% set dow = dow + 1 %}
                    {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
        </table>
    </div>
</div>
