<div>
    <div class="row">
        <h4>League Schedule - Calendar</h4>
    </div>
    {% for time, gamesInMonth in schedule %}
        <div class="row">
            {% include 'schedule/calendar_month.html.twig' %}
        </div>
        <div class="row">
            <br />
        </div>
    {% endfor %}
</div>