<div>
    <div class="row">
        <h3>Day of Week and Time Usage Report</h3>
    </div>
    <div class="row">
        &nbsp;
    </div>

    {% for division, teamData in report.data %}
        <div class="row">
            <h4>Division {{ division }}</h4>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr class="table-info">
                            <th class="border-bottom-0 text-center align-middle">
                                Team
                            </th>
                            {% for colHeader in report.daysOfWeek %}
                                {% include 'reports/nights_and_times_colHeader.html.twig' %}
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for name, stats in teamData %}
                            <tr>
                                <td>
                                    {{ name }}
                                </td>
                                {% for colHeader in report.daysOfWeek %}
                                    {% include 'reports/nights_and_times_colData.html.twig' %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
     {% endfor %}
</div>
