<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'common/header.html.twig' %}
    </head>
    <body>
        {% block body %}
            {% include 'schedule/schedule.html.twig' %}
        {% endblock %}
        {% include 'common/footer.html.twig' %}
    </body>
</html>
